h4{
    color: red;
    font-family: 'Courier New', Courier, monospace;
}
h2 {
    color: red;
    font-family:cursive;
}
img {
    border-style: solid;
    border-width:20px;
    border-radius:50% ;
    border-color: green;
}
.v {
    background-color: darkgrey;
}
.o {
   background-color: green; 
}