.z {
    position: absolute;
    background-color: blue;
    padding: 150px;
    border-radius: 25%;
}
.x {
    position: absolute;
    background-color: red;
    padding: 120px;
    border-radius: 25%;
}
.y {
    position: absolute;
    background-color: yellow;
    padding: 100px;
    border-radius: 25%;
}
.w {
    position: absolute;
    background-color: green;
    padding: 80px;
    border-radius: 25%;
}