.z { padding: 50px;
    position: absolute;
background-color: crimson;
border-radius: 25%;
}
.x {
    position: absolute;
background-color: chartreuse;
padding: 50px;
bottom: 1px;
border-radius: 25%;
}